.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Modal in student mode*/
.modal {
    padding: 10px 20px;
    width: 600px;
    margin: 0px 10px;
    background: #fff;
    color: black;
    border-radius: 10px;
}

/*This is the modal in teacher mode*/
.modal-2 {
    width: 800px;
    background: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: end;
}

.modal-2 div {
    line-height: 0.6rem;
    margin: 0 0.5rem;
}



p {
    white-space: pre-line;
}

.modal h3 {
    margin: 1.2vh auto 0.5vh auto;
}

h4 {
    margin: 1.2vh auto 0.5vh auto;
}

.modal p {
    margin: 0.5vh auto;
}

/* Four column tables */

.column-table-reflexive {
    max-width: 200px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    line-height: 0.6rem;
}

.four-column-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 400px;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #efefef;
    gap: 0;
    line-height: 0.6rem;
}

.four-column-grid p, .two-column-grid p, .column-table-reflexive p {
    margin: 0 auto;
    padding: 5px;
}


.bold {
    font-weight: bold;
}

.four-column-grid p:nth-child(7n + 1) {
    grid-row: 1;
    font-weight: bold;
}

.four-column-grid p:nth-child(7n + 2) {
    grid-row: 2;
}

.four-column-grid p:nth-child(7n + 3) {
    grid-row: 3;
}

.four-column-grid p:nth-child(7n + 4) {
    grid-row: 4;
}

.four-column-grid p:nth-child(7n + 5) {
    grid-row: 5;
}

.four-column-grid p:nth-child(7n + 6) {
    grid-row: 6;
}

.four-column-grid p:nth-child(7n + 7) {
    grid-row: 7;
}

/* Two column tables */

.two-column-grid {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.column-table p, .two-column-grid p, .four-column-grid p {
    white-space: nowrap;
}


.center {
    justify-content: center;
}

.nine-column-grid, .nine-column-grid-teacherMode {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #efefef;
}

.nine-column-grid .irregulars-row, .nine-column-grid-teacherMode .irregulars-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px;
}

.li-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* keeps li text left-aligned */
    max-width: 90%;
    margin: 0 auto;
    /* optional: gives breathing space */
    list-style-type: none;
}

/*----------------RESPONSIVENESS------------*/

@media (min-width: 1020px) {

    .nine-column-grid-teacherMode {
            flex-direction: row;
            margin: 10px;
    }

    .nine-column-grid-teacherMode .irregulars-row {
        margin: 0;
        padding: 0;
    }

    .column-table {
        padding: 0 5px;
    }
}

@media (max-width: 900px) {
    .modal {
        max-width: 95vw;
        max-height: 90vh;
    }

    .modal p, .modal li {
        font-size: small;
    }


    .four-column-grid,
    .two-column-grid, .column-table-reflexive {
        padding: 5px;
        max-width: 400px;
        grid-column-gap: 0;
    }

}

@media (max-width: 430px) {

    .modal p, .nine-column-grid-teacherMode,
        .modal li {
        font-size: x-small;
    }
    
    .modal-2 {
        width: 95%;
        margin: 0 5px;
    }

    .modal-2 div {
        margin: 0 0.2rem;
    }

    .four-column-grid p,
    .two-column-grid p,
    .column-table-reflexive p {
        margin: 3px 0.5rem;
        padding: 3px 0px;
        
    }

    .four-column-grid,
    .two-column-grid,
    .column-table-reflexive {
        width: fit-content;

    }
}

@media (max-width: 370px) {

    .four-column-grid,
    .two-column-grid, .column-table-reflexive, .nine-column-grid, .nine-column-grid-teacherMode {
        padding: 2px;
    }

}

@media (max-width: 290px) {

    .four-column-grid,
    .two-column-grid, .column-table-reflexive, .nine-column-grid, .nine-column-grid-teacherMode {
        font-size: x-small;
        max-width: 270px;
        line-height: 0.5rem;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1030px) and (min-height: 600px) and (max-height: 768px) {
    /* CSS rules specific to 4:3 aspect ratio, commonly used in projectors in schools */
    .four-column-grid,
    .two-column-grid, .column-table-reflexive {
        padding: 0 10px;

    }

    .four-column-grid, .column-table-reflexive{
        line-height: 0.4rem;

    }

    .nine-column-grid-teacherMode {
        flex-direction: row;
        margin: 10px;
    }

    .nine-column-grid-teacherMode .irregulars-row {
            margin: 0;
            padding: 0;
        }
    .column-table {
        padding: 0 5px;
    }
}