.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Modal in student mode*/
.modal {
    padding: 10px 20px;
    width: 600px;
    margin: 0px 10px;
    background: #fff;
    color: black;
    border-radius: 10px;
}

/*This is the modal in teacher mode*/
.modal-2 {
    width: 800px;
    background: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: end;
}

.modal-2 div {
    line-height: 0.6rem;
    margin: 0 0.5rem;
    }

p {
    white-space: pre-line;
}

.modal h3 {
    margin: 1.2vh auto 0.5vh auto;
}

h4 {
    margin: 1.2vh auto 0.5vh auto;
}

.modal p {
    margin: 0.5vh auto;
}


.column-table-reflexive {
    max-width: 200px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    line-height: 0.6rem;
}

.bold {
    font-weight: bold;
}

.center {
    justify-content: center;
}


.li-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* keeps li text left-aligned */
    max-width: 90%;
    margin: 0 auto;
    /* optional: gives breathing space */
    list-style-type: none;
}

/*----------------RESPONSIVENESS------------*/

@media (min-width: 1020px) {

    .column-table {
        padding: 0 5px;
    }
}

@media (max-width: 900px) {
    .modal {
        max-width: 95vw;
        max-height: 90vh;
    }

    .modal p, .modal li {
        font-size: small;
    }

}

@media (max-width: 430px) {

    
    .modal-2 {
        width: 95%;
        margin: 0 5px;
    }

    .modal-2 div {
        margin: 0 0.2rem;
    }


    .modal-backdrop {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1vh;

    }
}

@media (max-width: 370px) {



}

@media (max-width: 290px) {


}

@media screen and (min-width: 1020px) and (max-width: 1030px) and (min-height: 600px) and (max-height: 768px) {
    /* CSS rules specific to 4:3 aspect ratio, commonly used in projectors in schools */

    .column-table {
        padding: 0 5px;
    }
}